<div id="wrap">
  <app-header></app-header>
  <div class="container">
    <div class="container_inner main-body">
      <div class="main-body_inner">
        <app-left-aside></app-left-aside>
        <section class="main-body_inner_section">
          <div class="main-body_inner_section_header">
            <h1 class="header"><i class="icon fa fa-folder-open"></i>Category: <em class="page-title-link">ASP.NET Core</em></h1>
          </div>
          <div class="main-body_inner_section_content">
            <router-outlet></router-outlet>
          </div>
        </section>
      </div>
    </div>
  </div>
  <footer id="footer" class="footer">
    <app-footer></app-footer>
  </footer>
</div>
